p, h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

.main-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4rem;
}

.main-title-box {
    width: 60%;
    margin-top: 3rem;
    margin-left: 3rem;
}

.section-box {
    margin: 3rem auto;
}

.header-img-box {
}

.header-section {
    background-color: #0F52BA;
    color: white;
    padding: 1rem;
}

.learn-more-btn {
    margin: 1.5rem;
    margin-left: 0;
}

.sub-header {
    text-align: center;
    font-weight: 700;
    margin: 1rem auto 2rem auto;
}

.avatar-img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

.team-item {
    text-align: center;
}

.introduction-section {
    padding-top: 3.5rem;
    padding: 3rem;
}

.content-item-box {
    padding: 1rem;
}

.content-item {
    text-align: center;
    background-color: #73C2FB;
    margin: 1rem auto;
    padding: 1.5rem;
    height: 12rem;
    width: 12rem;
    border-radius: 0.5rem;
    color: black;
    font-weight: 700;
}

.content-icon {
    display: block;
    width: 3rem;
    height: 3rem;
    margin: 0 auto 1rem auto;
    padding: 0;
}

footer {
    text-align: center;
    height: 0.5rem;
}

.link-title {
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}

.link-section {
    padding: 2rem;
}
